/*滚动条样式*/
.optiscroll-htrack {
  height: 10px !important;
  background: rgba(0,0,0,.2) !important;
}
/*不要竖直滚动条*/
.optiscroll-vtrack {
  width: 0px !important;
}
.display-block {
  display: block;
}

.display-ib {
  display: inline-block;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.width-p-10 {
  width: 10%;
}

.width-p-20 {
  width: 20%;
}

.width-p-30 {
  width: 30%;
}

.width-p-40 {
  width: 40%;
}

.width-p-60 {
  width: 60%;
}

.width-p-70 {
  width: 70%;
}

.width-p-80 {
  width: 80%;
}

.width-p-90 {
  width: 90%;
}

/*
左右浮动
 */
.pull-left { float: left;}

.pull-right { float: right;}


/*
清除浮动
 */
.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}

.clearfix:after { clear: both;}

.clearfix { *zoom:1;}


/*
定位
 */
.position-relative { position: relative;}

.position-absolute { position: absolute;}

.position-fixed { position: fixed;}

.right-0 {
  right: 0;
}


/*
绝对定位最大盒子
 */
.abs-max-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-full{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*

 */
.bg-s-cover {
  -webkit-background-size: cover;
  background-size: cover;
}

.bg-layer-3 {
  background-color: rgba(62, 58, 57, .3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
}

.bg-layer-4 {
  background-color: rgba(62, 58, 57, .4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
}


.pointer {
  cursor: pointer;
}

.grab {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}


.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*border-radius*/

.border-cycle {
  border-radius: 50%;
}


/*
font
 */
.font-w-normal {
  font-weight: normal;
}

.none-before-after {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.letter-4 {
  letter-spacing: 4px;
}

/*
z-index
 */
.z-index-9 {
  z-index: 9;
}
.z-index-999 {
  z-index: 999;
}
.z-index-9999 {
  z-index: 9999;
}


/*
overflow
 */
.over-hidden {
  overflow: hidden;
}


/*
layer
 */

.common-layer {
  background-color: rgba(0, 0, 0, .5);
}


/*
color
 */

.color-fff {
  color: #fff;
}
.color-666 {
  color: #666;
}
.child-p-666 p {
  color: #666;
}



.fade-delay-enter-active, .fade-delay-leave-active {
  transition: opacity .3s ease .1s;
}
.fade-delay-enter, .fade-delay-leave-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.fade-ease-enter-active, .fade-ease-leave-active {
  transition: opacity .2s ease-out .1s;
}
.fade-ease-enter, .fade-ease-leave-active {
  opacity: 0;
}


.front-under-box-shadow {
  position: relative;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, .3);
}
.front-under-box-shadow:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, .3);
}
.front-under-box-shadow:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, .3);
}


.body-bg {
  background-color: #eff3f6;
}

.side-bar-bg {
  background-color: #2f4050;
}

.side-child-bg {
  background-color: #293846;
}

.side-bar-bg-active {
  background-color: #1d2f3f;
}

.side-bar-line-color {
  color: #34b0a6;
}

/*
margin
 */


/*
padding
 */

.pd-1 {
  padding: 1rem;
}


.pd-l-1 {
  padding-left: 1rem
}
